   @charset "utf-8";
/*适配方案*/
@media (min-width: 250px) {
  html {
    font-size: 33.33333333px;
  }
}
@media (min-width: 300px) {
  html {
    font-size: 40px;
  }
}
@media (min-width: 320px) {
  html {
    font-size: 42.66666667px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 53.33333333px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 56.53333333px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media (min-width: 560px) {
  html {
    font-size: 74.66666667px;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 80px;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 85.33333333px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 100px;
  }
}
/*css初始化*/
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dt,dd,li {
  padding: 0;
  margin: 0;
  font-size: 0.28rem;
  font-family: "PingFangSC-Medium", "微软雅黑";
  color: #999999;
  list-style: none;
  line-height: 1.42857143;
}
a {
  text-decoration: none;
  color: #999999;
  -webkit-tap-highlight-color: transparent;
}
body {
  background: #FAFAFA;
}
input,
img {
  vertical-align: bottom;
  border: 0 none;
  outline-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}